<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#" class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tech Cowork Progressbar Bratislava | Place to work 🙌 | Blockchain</title>
    <link rel="icon" type="image/png" sizes="32x32" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/firefox-general-32-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/firefox-general-16-16.png">
    <link rel="icon" type="image/png" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/firefox-general-256-256.png">
    <!--[if IE]><link rel="shortcut icon" href="/static/img/icons/favicon.ico"><![endif]-->
    <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>static/manifest.json">
    <meta name="theme-color" content="#000000">
    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
    <link href='https://widget.kyber.network/v0.6.4/widget.css' rel="stylesheet">
    <!-- <base href="https://cowork.progressbar.sk"> -->
    <meta name="application-name" content="Progressbar">
    <meta name="description" content="Tech & Crypto Cowork focused on blockchain industry and community. Free daypass for review. Meeting room for brainstorming and meeting powerful clients.">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">
    <meta property="og:url" content="https://cowork.progressbar.sk/">
    <meta property="fb:pages" content="140864112596206">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Tech Cowork Progressbar Bratislava | Place to work 🙌 | Blockchain">
    <meta property="og:image" content="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/firefox-general-256-256.png">
    <meta property="og:description" content="Tech & Crypto Cowork focused on blockchain industry and community 🙌">
    <meta property="og:site_name" content="Tech Cowork Progressbar Bratislava | Place to work 🙌 | Blockchain">
    <meta property="og:locale" content="en_US">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@progressbarsk">
    <meta name="twitter:creator" content="@yangwao">
    <meta name="twitter:url" content="https://cowork.progressbar.sk">
    <meta name="twitter:title" content="Tech Cowork Progressbar Bratislava | Place to work 🙌 | Blockchain">
    <meta name="twitter:description" content="Tech & Crypto Cowork focused on blockchain industry and community">
    <meta name="twitter:image" content="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/firefox-general-256-256.png">
    <meta itemprop="name" content="Tech Cowork Progressbar Bratislava | Place to work 🙌 | Blockchain">
    <meta itemprop="description" content="Tech & Crypto Cowork focused on blockchain industry and community 🙌">
    <meta itemprop="image" content="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/firefox-general-256-256.png">
    <meta name="google-site-verification" content="L8R-eisMuFfeKOq-vxhspeOpfadcMG12R-rb3-t0qWU" />
    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <meta name="apple-mobile-web-app-title" content="Tech Cowork Progressbar Bratislava | Place to work 🙌 | Blockchain">
    <link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/ios-appicon-152-152.png">
    <!-- Add to home screen for Windows -->
    <meta name="msapplication-TileImage" content="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/android-launchericon-144-144.png">
    <meta name="msapplication-TileColor" content="#000000">
    <!-- kyber-->
    <script async src='https://widget.kyber.network/v0.6.4/widget.js'></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137860335-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', 'UA-137860335-1');
    </script>

    <% for (var chunk of webpack.chunks) {
        for (var file of chunk.files) {
          if (file.match(/\.(js|css)$/)) { %>
    <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>"><% }}} %>
  </head>
  <body>
    <noscript>
      Tech Cowork in Bratislava. Free daypass for review. Meeting room for brainstorming and meeting powerful clients.
      <h2></h2>
    </noscript>
    <div id="app"></div>
    <!-- Todo: only include in production -->
    <%= htmlWebpackPlugin.options.serviceWorkerLoader %>
    <!-- built files will be auto injected -->
  </body>
</html>
