<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tech Coworking Progressbar | Ethereum accepted</title>
    <!-- <link rel="icon" type="image/png" sizes="32x32" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/favicon-32x32.png"> -->
    <!-- <link rel="icon" type="image/png" sizes="16x16" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/favicon-16x16.png"> -->
    <link rel="icon" type="image/png" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/progressbar_square_holo.jpg">
    <!--[if IE]><link rel="shortcut icon" href="/static/img/icons/favicon.ico"><![endif]-->
    <!-- Add to home screen for Android and modern mobile browsers -->
    <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>static/manifest.json">
    <meta name="theme-color" content="#000000">
    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
    <!-- <base href="https://progressbar.sk"> -->
    <meta name="application-name" content="Progressbar">
    <meta name="description" content="Tech Coworking in Bratislava. Free daypass for review. Bitcoin & Ethereum accepted. Meeting room for brainstorming and meeting powerful clients">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">
    <!-- <meta property="og:url" content="https://progressbar.sk/"> -->
    <meta property="fb:pages" content="140864112596206">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Tech & Crypto Coworking Progressbar">
    <meta property="og:image" content="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/progressbar_square_holo.jpg">
    <meta property="og:description" content="Tech & Crypto Coworking focused on blockchain industry and development">
    <meta property="og:site_name" content="Tech Coworking Bratislava">
    <meta property="og:locale" content="en_US">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@progressbarsk">
    <meta name="twitter:creator" content="@yangwao">
    <meta name="twitter:url" content="https://cowork.progressbar.sk">
    <meta name="twitter:title" content="Tech Coworking Progressbar">
    <meta name="twitter:description" content="Tech & Crypto Coworking focused on blockchain industry and development">
    <meta name="twitter:image" content="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/progressbar_square_holo.jpg">
    <meta itemprop="name" content="Tech Coworking Progressbar">
    <meta itemprop="description" content="Tech & Crypto Coworking focused on blockchain industry and development">
    <meta itemprop="image" content="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/progressbar_square_holo.jpg">

    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Tech Coworking Progressbar">
    <link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/progressbar_square_holo_152x152.jpg">

    <!-- Add to home screen for Windows -->
    <meta name="msapplication-TileImage" content="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/msapplication-icon-144x144.png">
    <meta name="msapplication-TileColor" content="#000000">
    <% for (var chunk of webpack.chunks) {
        for (var file of chunk.files) {
          if (file.match(/\.(js|css)$/)) { %>
    <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>"><% }}} %>
  </head>
  <body>
    <noscript>
      Tech Coworking in Bratislava. Free daypass for review. Bitcoin & Ethereum accepted.
      Meeting room for brainstorming and meeting powerful clients.
    </noscript>
    <div id="app"></div>
    <!-- Todo: only include in production -->
    <%= htmlWebpackPlugin.options.serviceWorkerLoader %>
    <!-- built files will be auto injected -->
  </body>
</html>
